<%-include("partials/header")-%>




    <div class="body">
        <h1>2D Side Scroller Game</h1>



        <button class="btn btn-outline-primary gitButton">
            <img class="icon" src="/images/github-mark.svg" alt="">
            Github
        </button>
    </div>
    <div class="body">
        <br>
        <br>
        <br>

        <p>This is a 2D side scroller game developed by me using p5.js.</p>
        <p>The goal of this game is to help the stickman reach the flag at the end of the stage after killing all
            enemies and collecting all stars in the game.</p>
        <p>Users can move the stickman using WASD key on the keyboard and also left click to shoot shurikens.</p>
        <br>
        <br>
    </div>
    <div id="game">
        <iframe src="/html/game.html"></iframe>
    </div>

    <%-include("partials/footer")-%>