<%-include("partials/header")-%>


<div class="main-block">
    <form action="/">
        <h1>Registration of device</h1>
        <div>
            <label for="devices">Choose a device:</label>
            <select name="devices" id="devices">
                <option value="thermometer">thermometer</option>
                <option value="lightbulb">lightbulb</option>
                <option value="car">car</option>
                <option value="frontGate">frontGate</option>
            </select>
        </div>


    </form>
</div>



<%-include("partials/footer")-%>