<%-include("partials/header")-%>


    <div class="body">
        <img src="/images/eugeng.jpeg" alt="" width="30%" height="30%" class="profile">
        <p>Hi, I'm Eu Geng! Thank you for visiting my website. </p>
        <p>I'm a Singapore-based software engineer dedicated to building dynamic and creative softwares.</p>
        <p>On this website, you will find a collection of my software projects that I have created.</p>
        <p>Feel free to explore my portfolio and get a glimpse of my work. If you have any inquiries, collaboration
            proposals, or simply want to get in touch, please don't hesitate to reach out to me through the provided
            contact information.</p>

        <h1>My Journey</h1>
        <ul class="timeline">
            <li class="timeline-item">
                <div class="timeline-content">
                    <h2>Business Technology Analyst Intern</h2>
                    <h4>Workato</h4>
                    <ul>
                        <li>Contributed to the reduction of $500k and more in projected SAAS license expenditure with license optimisation automation framework.</li>
                    </ul>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-content">
                    <h2>Performance Engineering Intern</h2>
                    <h4>Circles.life</h4>
                    <ul>
                        <li>Successfully performed comprehensive end-to-end performance testing, analysis, and troubleshooting for 'Povo,' a new telco service launched jointly by KDDI and Circles.life in 2021.</li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

<%-include("projects.ejs")-%>

<%-include("partials/footer")-%>