<%-include("partials/header")-%>


    <div class="body">
        <h1>Welcome to my Website</h1>
        <p>Hi, I'm Eu Geng! Thank you for visiting my website.</p>

        <img src="images/eugeng.jpeg" alt="" width="30%" height="30%" class="profile">
        <p>On this website, you will find a collection of my software projects that I have created.</p>
        <p>Feel free to explore my portfolio and get a glimpse of my work. If you have any inquiries, collaboration proposals, or simply want to get in touch, please don't hesitate to reach out to me through the provided contact information.</p>
    

    </div>

<%-include("projects.ejs")-%>

<%-include("partials/footer")-%>