<div class="projectsLayout">
	<div class="title">
		<h1>Projects</h1>
	</div>

	<div class="card project1" style="width: 18rem;">
		<img class="card-img-top" src="images\StockGraphs.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Browser based 2D Game</h5>
			<p class="card-text">A browser based 2D side scroller game that is created using P5.js, a JavaScript
				library.</p>
			<a href="/projects/2DSideScrollerGame" class="btn btn-primary">Learn More</a>
		</div>
	</div>


	<div class="card project2" style="width: 18rem;">
		<img class="card-img-top" src="images\StockGraphs.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Personal Website</h5>
			<p class="card-text">A personal website created with node.js, express and ejs to showcase my personal projects.
			</p>
			<a href="https://github.com/shadeonline/personalWebsite" class="btn btn-primary">Learn More</a>
		</div>
	</div>



	<div class="card project3" style="width: 18rem;">
		<img class="card-img-top" src="images\StockGraphs.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Social Media Website</h5>
			<p class="card-text">A social media website created with Django, Redis, Celery and SQLite</p>
			<a href="/projects/socialMediaSite" class="btn btn-primary">Learn More</a>
		</div>
	</div>


	<div class="card project4" style="width: 18rem;">
		<img class="card-img-top" src="images\StockGraphs.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Algo Trading Program</h5>
			<p class="card-text">A python algorithimic trading program to buy and sell stocks base on quantitative
				analysis.</p>
			<a href="/projects/inProgress" class="btn btn-primary">Learn More</a>
		</div>
	</div>


</div>