<%-include("partials/header")-%>




    <div class="body">
        <h1>Social Media Site</h1>

        <div class="githubBar" style="margin-bottom:5em;">
            <form action="https://github.com/shadeonline/Social-App">
                <button class="gitButton">
                    <img class="icon" src="/images/github-mark-white.svg" alt="">
                    Github
                </button>
            </form>
        </div>

        <p>I have completed a social media app called Social. Social is a social media much like that of Instagram. The
            purpose of the Social is to create a platform where users can share interesting artwork or images they made
            with other like minded people online. Several features of Social include:

        <ol>
            <li>Posting images with descriptions for followers to view</li>
            <li>Follow and unfollow users on the platform</li>
            <li>Live chatting with users who are followed with stored chat history</li>
            <li>Personal page to display one’s images and customisable biography section Creation of accounts</li>
            <li>Discovery section to ‘discover’ other users</li>
            <li>API interface where users can use to retrieve/post specific information</li>

        </ol>

        </p>
        <br>
    </div>
    <%-include("partials/footer")-%>